@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
.crypto-container{
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    border: 0px solid #333;
    border-radius: 5px;
    box-shadow: 2px 5px 9px 3px #666;
}

.crypto-element{
    list-style: none;
    padding: 1%;
}

table{
    padding: 2%;
    font-family: Cabin;
    text-align: center;
}

table th{
    border-bottom: 1px solid #333;
    color: #333;
}

table td{
    color: #555;
    padding: 1%;
}

table tr td img {
    width: 25px;
}

.red{
    color: red;
}

.green{
    color: green;
}