@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Cabin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active{
  border-bottom: 5px solid #ffc107;
}